/* Too lazy to scroll down lol, jsut gonna change stuff here */
:root {
    --header-bg-color: #393f4d;
    --sidebar-bg-color: #2757f7;
    --main-content-bg-color: #bccbde;

    --icon-size: 30px;
    --icon-color: #fff; /* Also change text color next to icon */

    --bg-color-on-hover: #ff6ecb;
}

* {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    grid: "sidebar header" 1fr "sidebar main-content" 4fr / minmax(max-content, 1fr) 4fr; /* Forgot how ts works lol */
    height: 100%;
}

.container div {
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

/* Header here */

.header {
    grid-area: header;
    background-color: var(--header-bg-color);
    display: grid;
    grid-template-areas: "searchbox profile" 
                        "welcome-text button";
    grid-template-columns: 1.5fr 1fr;
    padding: 0.5rem 2rem;
    grid-template-rows: 1fr 2.5fr;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1em;

}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.search-container input[type="search"] {
  /*! width: 100%; */
  /*! padding: 12px 16px 12px 42px; */
  background-color: #f5f7fa;
  border-radius: 10px;
  
  /* Reset browser-specific defaults */
  appearance: none; /* 0.5.9, 0.5.28 */
  outline: none; /* 0.5.6 */
  flex: 1;
  height: 2em;
}


.header svg {
    width: 30px;
}



.profile-picture {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.welcome-user {
    display: flex;
    /*! justify-content: space-between; */
    align-items: center;
    grid-area: welcome-text;
}

.welcome {
    display: flex;
    gap: 1em;
}

.welcome-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn-container {
    display: flex;
    align-items: center;
    /*! padding-right: 1em; */
    justify-content: space-between;
}

.btn-container button {
    color: #ff5ea2;
    padding: 8px;
    width: 150px;
    background: linear-gradient(145deg,#ffd1ec, #ffe6f5);
    border-radius: 16px;
    font-weight: bold;
    font-size: 1.125em;
    border-color: #ce446d;
}


/* Sidebar here */

.sidebar {
  background-color: var(--sidebar-bg-color);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3em;
  padding: 1.5em;

}

.sidebar ul {
    list-style-type: none;
}

.sidebar svg {
    width: var(--icon-size);
    fill: var(--icon-color);
}

.sidebar a, h1{
    color: var(--icon-color);
}

.sidebar-content ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
}

.sidebar-content ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;

transition: transform 0.3s ease, background-color 0.3s ease, rotate 0.3s ease;
}

.sidebar-content li:hover {
    transform: translateY(-5px);
    rotate: 2deg;
    background-color: var(--bg-color-on-hover); 
}


/* Main shit here */

.main-content {
  background-color: var(--main-content-bg-color);
  grid-area: main-content;
}